.mat-icon {
  padding-right: 10px;
  color: #999;
}

.mat-list-item {
  color: #333;
}

.profile {
  text-align: center;
  padding: 30px 0;
  .mat-icon {
    font-size: 84px;
  }
}

.center {
  text-align: center;
}
